---
layout: page
title: Raising Confident Children Workshop
permalink: /what-we-offer/raising-confident-kids-workshop/
main_image_path:
main_image_caption:
frontpage: false
homepage_description_markdown: >-
  [C](/parents/learning-area/)[lick here to access the
  resources](/parents/learning-area/)&nbsp;
frontpagetitle:
frontpageorder_number:
aside: true
faqs:
  - faq_title: Can I attend the group if I don't live in Brighton or East Sussex?
    faq_markdown: >-
      Unfortunately not, as our groups are currently run through local mental
      health services, to access these services you need to be a resident in the
      area.
  - faq_title: 'I have Obsessive Compulsive Disorder, is this suitable for me?'
    faq_markdown: >-
      Currently the groups are tailored to support those with general
      anxiety&nbsp;
  - faq_title: Can all parents attend the 'Raising Confident Children' groups?
    faq_markdown: >-
      We've found that the techniques and tips we discuss in the group work well
      for parents or caregivers who:


      * Have at least 1 child between the age of 2-11

      * Consider themselves reasonably anxious
  - faq_title: What can I expect from the Raising Confident Children Group?
    faq_markdown: >
      The groups involve two members of staff and up to 8 parents. Session one
      starts by discussing things that all parents can do to raise confidence in
      their children.

      In the second session we look at things that are particularly important if
      you live with anxiety. The workshops are fun and relaxed, and parents who
      have taken part before have said that they found them both useful and
      enjoyable.
  - faq_title: Am I expected to speak in the group?
    faq_markdown: >
      There's no pressure to share or contribute to the group if you'd rather
      not, attendees are free to sit back and simply listen to the facilitators.
  - faq_title: Do I need to bring anything?
    faq_markdown: |
      Everything you'll need will be provided including writing materials.
  - faq_title: Will I be expected to take notes or write things down?
    faq_markdown: >
      When you arrive we ask parents and caregivers to complete a few
      questionnaires. These questionnaires are provided by the service - either
      Brighton and Hove Wellbeing service or Health in Mind and they require us
      to collect this information each session.


      The second questionnaire is related to the Flourishing Families Clinic, as
      we mentioned above we're a new service and this means we're keen to get a
      sense of how we're doing, as part of this we ask you to complete a
      questionnaire at the first session and then the same questionnaire 3
      months after you attended the group.


      As part of the group we provide parents with a booklet to work through at
      the start of each session. As we go through the session the facilitators
      will give time to complete the worksheets and will come round and discuss
      this with each person.


      These booklets will be yours to keep and we hope they're helpful for
      parents and caregivers as they begin trialling some of the techniques we
      cover in the group.
  - faq_title: >-
      Are there any childcare facilities available for my child whilst I'm in
      the group?
    faq_markdown: >
      Unfortunately we are currently unable to provide childcare for the
      children of parents attending the groups. In future we're hoping to secure
      enough funding to offer this service to allow more parents to engage with
      the groups.
  - faq_title: Is there parking available at the group venue?
    faq_markdown: >
      The Brighton groups are currently held at 'Mind' and there is **no
      parking** on site however there are nearby pay & display car parks.


      Groups over in East Sussex are currently held at Avenida Lodge, there is
      limited onsite parking so if you're attending this group we'd recommend
      arriving early so you can grab a space or have plenty of time to find
      other parking in the area.
  - faq_title: What about after I attend the group?
    faq_markdown: >-
      After attending the 'Raising Confident Children' group, if you've
      discussed receiving further support within the service then you'll go on
      to receive this.


      If not, you may be discharged from the service but this can be discussed
      with you practitioner.


      As part of follow up we've put together some resources that you'll be able
      to access after you've completed both sessions.


      We'll also be in touch in 3 months’ time via email to ask you to complete
      an electronic version of the questionnaire you completed in the first
      session.
_options:
  layout:
    hidden: true
  permalink:
    hidden: true
  image_path:
    uploads_dir: 'assets/images/:year'
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  main_image_path:
    uploads_dir: 'assets/images/:year'
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  content:
    uploads_dir: 'assets/:year'
_comments:
  title: Page title
  main_image_path: Image used to represent your page
  frontpage: Show this page on the homepage
  homepage_description_markdown: Text used on homepage if shown
  frontpagetitle: Alternative title for home page use
  faqs: Edit your FAQs
---

<div class="editable">
    <p><strong>These workshops are currently not running due to coronavirus but we hope to start up again by the spring&nbsp;</strong></p>
    <p>Are you anxious? Are you a parent? Are you worried about the impact of your anxiety on your child?</p>
    <p>We have just the thing for you!</p>
    <p>Our Raising Confident Children course runs in various locations around Brighton and East Sussex. The group is for anxious parents and offers two short sessions aimed at improving mental health outcomes for parents and their children. The groups are also running as part of a wider research clinic aimed at exploring and developing the types of support offered to parents.</p>
    <p>The course usually runs over two mornings, one week apart. The courses are run by trained mental health professionals and are usually attended by a group of 6-8 parents, all of whom experience anxiety. Session one will start by discussing things that all parents can do to raise confidence in their children. In the second session we look at things that are particularly important if you live with anxiety.&nbsp;</p>
    <p>After you have completed the course, you will have access to our follow up resources. &nbsp;<a href="/parents/learning-area/">C</a><a href="/parents/learning-area/">lick here to access the resources</a>&nbsp;</p>
    <p>Overall the course is good fun &ndash; we aim to have a bit of a laugh while talking about all the things that anxious parents can do, to raise confident children.</p>
    <h3>Comments from parents who have taken the course</h3>
    <blockquote>Both of these sessions were really useful to put everything in perspective and start to get back in control</blockquote>
    <blockquote>My little boy slept in his own bed for the whole night for the first time in months...</blockquote>
    <blockquote>It was helpful clarifying and separating the different anxieties &hellip;..and showing &lsquo;doable&rsquo; ways of tackling them</blockquote>
    <blockquote>there was so much information crucial for good parenting</blockquote>
    <blockquote>I have never felt so good about myself as a parent</blockquote>
    <blockquote>It was so helpful to hear other people&rsquo;s examples and become aware that it&rsquo;s not just you that has these problems</blockquote>
    <h3>How do I register for the course?</h3>
    <p>The 'Raising Confident Children' course is currently offered in Brighton through 'Brighton and Hove Well-being Service' and in East Sussex through 'Health In Mind'.</p>
    <p>People are usually referred to the group by their clinicians following an assessment. If you're are interested in attending our group but aren't currently accessing mental health support you can refer yourself into both services online.</p>
    <p>If you're living in the Brighton area please complete the <a href="https://www.smartsurvey.co.uk/s/WBAdultSelfReferral/">online referral form for Brighton and Hove Well-being Service</a>.</p>
    <p>If you're living in East Sussex please complete the <a href="https://www.iaptportal.co.uk/ServiceUser/SelfReferralForm.aspx?sd=26842de6-cc41-4d41-a457-f45567c979e4">online referral form for Health in Mind</a></p>
  </div><!-- end editable section -->

{% if page.faqs[0].faq_title %}

 <h2>FAQs</h2>

  {% for thisfaq in page.faqs %}

    <div class="expander">
      <a href="javascript:void(0)" class="expander-trigger expander-hidden">{{ thisfaq.faq_title }}</a>

      <div class="expander-content">
        {{ thisfaq.faq_markdown | markdownify }}
      </div>

    </div>

  {% endfor %}

{% endif %}
