---
layout: page
title: Professionals training area
permalink: /professionals/private/
main_image_path:
main_image_caption:
frontpage: false
homepage_description_markdown:
frontpagetitle: About
archive: false
images:
  - image_path:
    image_title:
    image_description:
videos:
  - videoid: hzq8rfhCMvc
    description: |-
      Dragon in the mountains
      This little story is a useful reminder of the value of facing our fears.
  - videoid: lODiQewhF1Y
    description: |-
      Getting Over a Phobia
      How you can help your child to overcome their fears using baby steps.
  - videoid: hVNPSt4ORgc
    description: >-
      Compensation

      Good news, you don’t have to do it all yourself! How friends and family
      can help protect your children from fears.
  - videoid: A-D5Zz4NG8c
    description: >-
      Fight or Flight

      Anxiety can feel really scary at times, here we discuss the evolutionary
      origins of anxiety.
  - videoid: vrsD35VFB5k
    description: >-
      Emotion Coaching 1

      Emotion coaching is a useful technique to help children mange and make
      sense of their emotions.
  - videoid: N6PN6C553SM
    description: |-
      Key Messages from Session 1
      Quick take home messages from session one.
  - videoid: a-6X8gub1zg
    description: Anxiety and Coping
  - videoid: '-sT0reZEVFU'
    description: Hotspots
  - videoid: 3FmuDh1MASg
    description: Overprotection
  - videoid: sDuSCHrNPP0
    description: Key Messages from Session 2
  - videoid: XKpJzqG9BIg
    description: Rewards
  - videoid: DBkDLRS0nz8
    description: Star Chart
  - videoid: bITmb0F8GLw
    description: Emotion Coaching 2
_options:
  layout:
    hidden: true
  permalink:
    hidden: true
  main_image_path:
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
_comments:
  title: Page title
  permalink: Be careful editing this
  main_image_path: Image used to represent your page
  archive: Not used yet!
  frontpage: Show this page on the homepage
  homepage_description_markdown: Text used on homepage if shown
  frontpagetitle: Alternative title for home page use
  images: Add and edit images here
---

<div class="editable">
    <h2>Resources</h2>
    <h3>Training Videos</h3>
  </div>

{% if page.videos %}

  {% for video in page.videos %}
    {% if video.videoid %}
      {% include youtubeplayer.html id=video.videoid %}
      {% if video.description %}
        <p class="description">{{ video.description }}</p>
      {% endif %}
    {% endif %}
  {% endfor %}

{% endif %}

<a href="/logout">Log out</a>