---
layout: page
title: "Professionals private area"
permalink: /professionals/private/
main_image_path:
main_image_caption:
frontpage: false
homepage_description_markdown:
frontpagetitle: About
archive: false
images:
  - image_path:
    image_title: ""
    image_description:
videos:
  - videoid: "hzq8rfhCMvc"
    description: "Dragon in the mountains"
  - videoid: "vrsD35VFB5k"
    description: "Emotion Coaching"
  - videoid: "a-6X8gub1zg"
    description: "Anxiety and Coping"
  - videoid: "hVNPSt4ORgc"
    description: "Compensation"
  - videoid: "-sT0reZEVFU"
    description: "Hotspots"
  - videoid: "3FmuDh1MASg"
    description: "Overprotection"
  - videoid: "N6PN6C553SM"
    description: "Key Messages from Session 1"
  - videoid: "sDuSCHrNPP0"
    description: "Key Messages from Session 2"
  - videoid: "lODiQewhF1Y"
    description: "Getting Over a Phobia"
  - videoid: "A-D5Zz4NG8c"
    description: "Fight or Flight"
  - videoid: "XKpJzqG9BIg"
    description: "Rewards"
  - videoid: "DBkDLRS0nz8"
    description: "Star Chart"
  - videoid: "bITmb0F8GLw"
    description: "Emotion Coaching 2"


_options:
  layout:
    hidden: true
  permalink:
    hidden: true
  main_image_path:
    width: 1200
    height: 1200
    resize_style: "contain"
    mime_type: "image/jpeg"
_comments:
  title: Page title
  permalink: Be careful editing this
  main_image_path: Image used to represent your page
  archive: Not used yet!
  frontpage: Show this page on the homepage
  homepage_description_markdown: Text used on homepage if shown
  frontpagetitle: Alternative title for home page use
  images: Add and edit images here
---
<div class="editable">
	<p>You're in the Professionals private area</p>
</div>

{% if page.videos %}

  {% for video in page.videos %}
    {% if video.videoid %}
      {% include youtubeplayer.html id=video.videoid %}
      {% if video.description %}
        <p class="description">{{ video.description }}</p>
      {% endif %}
    {% endif %}
  {% endfor %}

{% endif %}

<a href="/logout">Log out</a>