---
layout: page
title: Professionals training videos
permalink: /professionals/training-area/video/
main_image_path:
main_image_caption:
frontpage: false
homepage_description_markdown:
frontpagetitle:
archive: false
aside: true
private: true
images:
  - image_path:
    image_title:
    image_description:
videos1_title: "Session 1"
videos1:
  - videoid: hzq8rfhCMvc
    description_markdown: >-
      <strong>Dragon in the mountains</strong><br>
      Why avoidance is so important in anxiety. This little story is a useful reminder of the value of facing our fears.
  - videoid: lODiQewhF1Y
    description_markdown: |-
      <strong>Getting Over a Phobia</strong><br>
      How you can help parents help their child to overcome their fears, using small, manageable steps.
  - videoid: hVNPSt4ORgc
    description_markdown: >-
      <strong>Compensation</strong><br>

      Latent inhibition: using friends and family to ‘inoculate’ children against their parents fears.
  - videoid: A-D5Zz4NG8c
    description_markdown: >-
      <strong>Fight or Flight</strong><br>

      The evolutionary origins of anxiety. Explaining the fight-flight response.
  - videoid: vrsD35VFB5k
    description_markdown: >-
      <strong>Emotion Coaching 1</strong><br>

      Emotion coaching is a useful technique to help children manage and make sense of their emotions.
  - videoid: a-6X8gub1zg
    description_markdown:  >-
      <strong>Anxiety and Coping</strong><br>

      These roleplays are a helpful illustration of the things we can accidentally teach our children through our behaviour.
  - videoid: N6PN6C553SM
    description_markdown: |-
      <strong>Key Messages from Session 1</strong><br>
      A quick summary of the key messages from session one.
videos2_title: "Session 2"
videos2:
  - videoid: XKpJzqG9BIg
    description_markdown: >-
      <strong>Rewards</strong><br>
      Here we discuss our ‘Crimes Against Star Charts’ and show how parents can get more of the behaviour they want in their child.
  - videoid: DBkDLRS0nz8
    description_markdown: >-
      <strong>Star Charts</strong><br>
      Here we discuss our 'Crimes Against Star Charts' and show how you can get more of the behaviour you want in your child.
  - videoid: -sT0reZEVFU
    description_markdown: >-
      <strong>Hotspots</strong><br>
      Every parent has parenting hotspots; how can you help parents to rub the corners off theirs?
  - videoid: 3FmuDh1MASg
    description_markdown: >-
      <strong>Overprotection</strong><br>
      Here we discuss how parents can identify when they’re being overprotective and how to rub the corners off of this.
  - videoid: KyxT58XGFiM
    description_markdown: >-
      <strong>Pros and Cons Analysis</strong><br>
      When it comes to thinking about overprotection, it’s important to hear parents’ hopes and fears. This exercise allows you to acknowledge parental fears about reducing overprotection, while confronting some of its downsides.
  - videoid: sDuSCHrNPP0
    description_markdown: >-
      <strong>Key Messages from Session 2</strong><br>
      A quick summary of the key messages from session two.

_options:
  layout:
    hidden: true
  aside:
    hidden: true
  private:
    hidden: true
  permalink:
    hidden: true
  main_image_path:
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
_comments:
  title: Page title
  permalink: Be careful editing this
  main_image_path: Image used to represent your page
  archive: Not used yet!
  frontpage: Show this page on the homepage
  homepage_description_markdown: Text used on homepage if shown
  frontpagetitle: Alternative title for home page use
  images: Add and edit images here
---

<div class="editable">
  <h2>Training Videos</h2>

    <h3></h3>

  </div>

{% if page.videos1 %}

  <hr>

  <div class="expander">
    <a href="javascript:void(0)" class="expander-trigger expander-hidden">{{ page.videos1_title }}</a>

    <div class="expander-content">
      {% for video in page.videos1 %}
        {% if video.videoid %}
          {% if video.description_markdown %}
            <p class="description">{{ video.description_markdown | markdownify }}</p>
          {% endif %}
          {% include youtubeplayer.html id=video.videoid %}

        {% endif %}

      {% endfor %}
    </div>

  </div>

{% endif %}

{% if page.videos2 %}
  <hr>
  <div class="expander">
    <a href="javascript:void(0)" class="expander-trigger expander-hidden">{{ page.videos2_title }}</a>

    <div class="expander-content">
      {% for video in page.videos2 %}
        {% if video.videoid %}
          {% if video.description_markdown %}
            <p class="description">{{ video.description_markdown | markdownify }}</p>
          {% endif %}
          {% include youtubeplayer.html id=video.videoid %}
        {% endif %}
      {% endfor %}
    </div>

  </div>

{% endif %}

<hr>

<p><a href="/professionals/training-area/">Professionals training area</a> | <a href="/logout">Log out</a></p>