---
layout: page
title: Further reading
permalink: /parents/further-reading/
main_image_path:
main_image_caption:
frontpage: false
homepage_description_markdown:
frontpagetitle:
frontpageorder_number:
aside: true
accordions:
  - accordion_title: Books
    accordion_markdown: >-
      We recommend the following books:


      **For Parents...**


      There is an amazing, brilliant book, which we think should be issued to
      all parents for free on the birth of their first child\!&nbsp;


      * [How to Talk so Kids Will Listen and Listen so Kids Will
      Talk](https://www.amazon.co.uk/How-Talk-Kids-Will-Listen/dp/1848123094/ref=sr_1_2?crid=322K205C0PRXG&amp;keywords=how+to+talk+so+kids+will+listen+and+listen+so+kids+will+talk&amp;qid=1555061916&amp;s=books&amp;sprefix=how+to+talk+so%2Cstripbooks%2C134&amp;sr=1-2)

      * [How To Talk So Little Kids Will Listen: A Survival Guide to Life with
      Children Ages
      2-7&nbsp;](https://www.amazon.co.uk/Talk-Little-Kids-Will-Listen-ebook/dp/B01LZYOXLZ/ref=sr_1_1?s=books&amp;ie=UTF8&amp;qid=1545225554&amp;sr=1-1&amp;keywords=how+to+talk+so+little+kids+will+listen+and+listen+so+kids+will+talk)

      * [How To Talk So Teens Will Listen and Listen so Teens Will
      Talk&nbsp;](https://www.amazon.co.uk/How-Talk-Teens-will-Listen/dp/1853408573/ref=sr_1_3?crid=3LX7EBYBIHZ15&amp;keywords=how+to+talk+so+kids+will+listen+book&amp;qid=1576676882&amp;sprefix=how+to+talk%2Caps%2C156&amp;sr=8-3)


      **For Parents With an Anxious Child...**


      *For parents with children 11 years and older:*


      * [My Anxiety Handbook: Getting Back on
      Track](https://www.amazon.co.uk/My-Anxiety-Handbook-Getting-Track-ebook/dp/B075JSPG9M/ref=sr_1_1?ie=UTF8&amp;qid=1536919529&amp;sr=8-1&amp;keywords=gallagher+anxiety)


      *For parents with children under 11:*


      * [Coping with an Anxious or Depressed Child: A CBT Guide for Parents and
      Carers](https://www.amazon.co.uk/Coping-Anxious-Depressed-Child-Oneworld-ebook/dp/B005KR0MU6/ref=sr_1_1?s=digital-text&amp;ie=UTF8&amp;qid=1536919568&amp;sr=1-1&amp;keywords=cartwright-hatton+anxiety)


      *For parents with children of any age:&nbsp;*


      * [Overcoming Your Child's Fears and
      Worries](https://www.amazon.co.uk/Overcoming-Childs-Fears-Worries-Books-ebook/dp/B0097AY62M/ref=sr_1_1?s=digital-text&amp;ie=UTF8&amp;qid=1536919605&amp;sr=1-1&amp;keywords=creswell+anxiety)

      * [Overcoming Your Child's Shyness and Social
      Anxiety](https://www.amazon.co.uk/Overcoming-Childs-Shyness-Social-Anxiety-ebook/dp/B0097AXXSU/ref=sr_1_2?s=digital-text&amp;ie=UTF8&amp;qid=1536919605&amp;sr=1-2&amp;keywords=creswell+anxiety)


      **General reading...&nbsp;**


      * [Quiet’ by Susan
      Cain.](https://www.amazon.co.uk/Quiet-Power-Introverts-World-Talking/dp/0141029196/ref=sr_1_1?crid=38J977ZPQM736&amp;keywords=quiet+susan+cain&amp;qid=1576676118&amp;sprefix=quiet%2Caps%2C148&amp;sr=8-1)<br>*This
      is a great book for anyone who is a quiet person. It’s a celebration of
      shyness and will make you feel proud to be an introvert\!*
  - accordion_title: Websites
    accordion_markdown: >-
      **Advice for Parenting with a Mental Illness…**


      * [Mind "Parenting With a Mental Health
      Problem"](https://www.mind.org.uk/information-support/tips-for-everyday-living/parenting-with-a-mental-health-problem/#.XPJS-YgzY2w)

      * [COPMI "Parenting With a Mental
      Illness"](http://www.copmi.net.au/parents/parenting-with-a-mental-illness)

      * [Anxiety U](https://www.anxietyuk.org.uk/)
  - accordion_title: Articles
    accordion_markdown: >-
      * [Better Health "Parenting and
      Stress"](https://www.betterhealth.vic.gov.au/health/HealthyLiving/parenting-and-stress)&nbsp;


      * [Child Mind Institute Article "How to avoid passing anxiety on to your
      kids"&nbsp;](https://childmind.org/article/how-to-avoid-passing-anxiety-on-to-your-kids/)<br>&nbsp;

      * [Huffington Post article "The Anxious
      Parent"&nbsp;](https://www.huffingtonpost.co.uk/danielle-mantonkelly/the-anxious-parent_b_14789456.html)<br>&nbsp;

      * [Counselling Directory "How parental stress affects
      children"&nbsp;](https://www.counselling-directory.org.uk/blog/2018/05/14/parental-stress-impacts-children/)&nbsp;<br>&nbsp;

      * [Young Minds - Parenting with a mental
      illness](https://youngminds.org.uk/find-help/for-parents/parents-guide-to-support-a-z/parents-guide-to-support-parental-mental-illness/)&nbsp;<br>&nbsp;

      * [Parenting NI - Parental Mental
      Health](https://www.parentingni.org/family-wellness-project/family-resources/parental-mental-health/)
      -
_options:
  layout:
    hidden: true
  permalink:
    hidden: true
  image_path:
    uploads_dir: 'assets/images/:year'
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  main_image_path:
    uploads_dir: 'assets/images/:year'
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  content:
    uploads_dir: 'assets/:year'
_comments:
  title: Page title
  main_image_path: Image used to represent your page
  frontpage: Show this page on the homepage
  homepage_description_markdown: Text used on homepage if shown
  frontpagetitle: Alternative title for home page use
  accordions: Edit your Accordion sections
---

<div class="editable">
    
  </div>

<hr />

{% if page.accordions[0].accordion_title %}

  {% for thisaccordion in page.accordions %}

    <div class="expander">
      <a href="javascript:void(0)" class="expander-trigger expander-hidden">{{ thisaccordion.accordion_title }}</a>

      <div class="expander-content">
        {{ thisaccordion.accordion_markdown | markdownify }}
      </div>

    </div>

  {% endfor %}

{% endif %}
