

.page--content {
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
  flex: 1 0 auto;
  width: 100%;
}

.page {
   padding: 0 1em 1em;
   max-width: 56em;
   margin: 0 auto;
  @include grid-media ($small) {
    padding: 1em 1em 0 1em;
  }
}
.page--header {
  padding-bottom: 1.5em;
}
.page--title {
  margin-bottom: 0.2em;
  color: $secondary-color;
  font-weight: 800;
  font-size: 3rem;
}

.page.two-column {
  // pages with aside
    @include grid-media ($small) {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-gap: 10px;
        align-items: start;
        align-content: start;
    }
}

