---
layout: default

---
{% if page.main_image_path %}

  <div class="page">

    <header class="">
      <h1 class="page--title">{{ page.title }}</h1>
    </header>

    <figure>
    {% assign alt_text = page.title %}
    {% if page.main_image_caption %} {% assign alt_text = page.main_image_caption %} {% endif %}
    {% include img.html src=page.main_image_path alt=alt_text %}
    {% if page.main_image_caption %}<figcaption>{{ alt_text }}</figcaption>{% endif %}
    </figure>

  </div>

  <div class="page{% if page.aside  %} two-column{% endif %}">
  {% if page.aside  %}
  <div class="with--aside">
  {% endif %}
{% else %}

  <div class="page{% if page.aside  %} two-column{% endif %}">
    {% if page.aside  %}
      <div class="with--aside">
    {% endif %}
    <header class="">
      <h1 class="page--title">{{ page.title }}</h1>
    </header>

{% endif %}



  {{ content }}


  {% if page.aside %}
  </div><!-- end with-aside -->

  <div class="aside"><!-- start aside -->


    {% for link in site.data.nav %}

      {% if link.subcategories != null %}



        {% if page.url contains link.href %}

          <ul class="submenu default">
            <li class="h3"><a class="plain subtitle" href="{{ link.href | prepend: site.baseurl }}">{{ link.title }}</a></li>
            {% for subcategory in link.subcategories %}
              <li class="{% unless link.title == "Home" %}{% if page.url contains subcategory.subhref %} active{% endif %}{% endunless %}"><a href="{{ subcategory.subhref | prepend: site.baseurl }}">{{ subcategory.subtitle }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if page.twitterfeed %}

      {% for social in site.social %}

        {% if social.name == "Twitter" %}

          <div class="widget twitter">

            <a class="twitter-timeline" data-height="400" href="https://twitter.com/{{ social.username }}?ref_src=twsrc%5Etfw">Tweets by {{ social.username }}</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>

        {% endif %}

      {% endfor %}

    {% endif %}

  </div><!-- end aside -->

  {% endif %}

</div>

