
.header--wrapper {
    /* flex horizontal centering */
    display: flex;
    justify-content: center;
    text-decoration: none;
    flex-flow: row wrap;

    &:active,
    &:focus,
    &:hover {
        text-decoration: none;
        //color: shade($link-color, 10%);
    }
    &:active,
    &:focus {
        outline: none;
    }

    @include grid-media ($small) {
        @supports (display: grid) {
            display: grid;  // this is the container
            grid-gap: 10px;
            // 3 column header
            grid-template-columns: 200px minmax(200px, 1fr) 200px;
            justify-items: center;
        }
    }

}

.title {
    text-align: center;
}

.header--logo {
    /// And now, with the grid
    /* https://gridbyexample.com/ */
    @supports (display: grid) {
        justify-self: center;
        width: auto;
        max-width: 150px;
    }
}

.trustlogo {
    max-height: 60px;
    margin-top: 10px;
    @include grid-media ($small) {
        max-height: inherit;
    }
}

.header--title {
    align-self: center; // flex centered

    font-family: $logo-font-family;
    font-weight: 900;
    color: $secondary-color;
    //text-transform: uppercase;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.4em;
    font-size: modular-scale(2);
    transition: font-size 1s;
    @include grid-media ($small) {
        font-size: modular-scale(3);
    }
    @include grid-media ($large) {
        font-size: modular-scale(4);
        line-height: 1.6em;
    }
}


.sub--title {
    color: darken($olivegreen,10%);
    font-family: $subheading-font-family;
    font-weight: 400;
    font-style: italic;
    font-size: modular-scale(2);
}